section.about
   h3#aboutme About Myself
   div.face-panel
      div.faceimage
      div.penicon
      div.mouseicon
      div.windowicon
      div.gameicon
   div.discripton
      p.
         <strong>Twenty years from now you will be more disappointed by the things that you didn't do than by the ones you did do.</strong> So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover.Twenty years from now you will be more disappointed by the things that you didn't do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover.<br/><strong>― H. Jackson Brown Jr., P.S. I Love You!!</strong>