section.contactsection
   h3#contact Contact
   div.contactcontainer
      div.email-and-links
         a(href='mailto: skarif2@gmail.com').big-email skarif2@gmail.com
         hr.bar
         div.social-links
            a(href='')
               img(src='/img/icomoon/twitter-square.png')
            a(href='')
               img(src='/img/icomoon/facebook-square.png')
            a(href='')
               img(src='/img/icomoon/github-square.png')
            a(href='')
               img(src='/img/icomoon/behance.png')
      form
         div.contact-info
            label Your Name
               input(type='text', name='name')
            label Your Email
               input(type='email', name='_replyto')
         label Message
            textarea(type='text', name='message')
            
         input(type='submit' value='Send')