footer
   div.lockup
      div.logo-bottom
      div.footer-menu
         nav
            a(href='') About Me
            a(href='') Skills
            a(href='') Work
            a(href='') Contact
         p.copyright &copycopyright 2016