header
   div.logo-top
   nav
      a(href='#aboutme') About Me
      a(href='#skills') Skills
      a(href='') Work
      a(href='') Contact
   h1 
      span Sk Arif
   p.comment Font-end / Back-end Developer