section.skills-panel
   h3#skills Skills
   div.skill-container
      div.skill-unit
         div.skill-logo
         div.skill-scale
            div.skill-label Communication      
            div.skill-icon.skill-8
               span
               span
               span
               span
               span
               span
               span
               span
               span
               span
      div.skill-unit
         div.skill-logo
         div.skill-scale
            div.skill-label Organization
            div.skill-icon.skill-7
               span
               span
               span
               span
               span
               span
               span
               span
               span
               span
      div.skill-unit
         div.skill-logo
         div.skill-scale
            div.skill-label Learning
            div.skill-icon.skill-8
               span
               span
               span
               span
               span
               span
               span
               span
               span
               span
      div.skill-unit
         div.skill-logo
         div.skill-scale
            div.skill-label Teaching
            div.skill-icon.skill-6
               span
               span
               span
               span
               span
               span
               span
               span
               span
               span
      div.skill-unit
         div.skill-logo
         div.skill-scale
            div.skill-label Planning
            div.skill-icon.skill-7
               span
               span
               span
               span
               span
               span
               span
               span
               span
               span
      div.skill-unit
         div.skill-logo
         div.skill-scale
            div.skill-label Visual Design
            div.skill-icon.skill-5
               span
               span
               span
               span
               span
               span
               span
               span
               span
               span
      div.skill-unit
         div.skill-logo
         div.skill-scale
            div.skill-label UX Design
            div.skill-icon.skill-7
               span
               span
               span
               span
               span
               span
               span
               span
               span
               span
      div.skill-unit
         div.skill-logo
         div.skill-scale
            div.skill-label Programming
            div.skill-icon.skill-9
               span
               span
               span
               span
               span
               span
               span
               span
               span
               span