section.worksection
   h3#work Work
   div.thumb-container
      a(href="").thumb-box.work-1
         div.thumb-hover 
            strong iCenter
            div.zoom-icon
      a(href="").thumb-box.work-2
         div.thumb-hover 
            strong Front-end Work
            div.zoom-icon
      a(href="").thumb-box.work-3
         div.thumb-hover 
            strong Green Man
            div.zoom-icon
      a(href="").thumb-box.work-4
         div.thumb-hover 
            strong van-der-hoom
            div.zoom-icon
      a(href="").thumb-box.work-5
         div.thumb-hover 
            strong urban-retreat
            div.zoom-icon
      a(href="").thumb-box.work-6
         div.thumb-hover 
            strong Delight-theme
            div.zoom-icon
      a(href="").thumb-box.work-7
         div.thumb-hover 
            strong sasquatch
            div.zoom-icon
      a(href="").thumb-box.work-8
         div.thumb-hover 
            strong html5-ship
            div.zoom-icon
   