doctype html

html
   head
      title My Portfolio
      link(href='css/main.css', rel='stylesheet', type='text/css')
        
   body
      include ./1-layouts/header.jade
      include ./1-layouts/aboutme.jade
      include ./1-layouts/skills.jade
      include ./1-layouts/work.jade
      include ./1-layouts/contact.jade
      include ./1-layouts/footer.jade


